* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
}

.login_container {
  min-height: calc(100vh - 56px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  background-color: #f1f3f6;
}


.login_form {
  width: 400px;
  height: 600px;
  padding: 28px 26px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.head {
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.sign {
  margin-top: 28px;
  font-size: 16px;
  font-weight: 500;
  color: #e6e6e6;
  text-align: center;
}

.logo {
  display: block;  
  max-width: 25%;     
  height: auto;         
  margin: 0 auto 20px;    
}


.login_heading {
  font-size: 24px;
  margin-top: 30px;
  font-weight: 600;
  color: #212121;
  margin-bottom: 12px;
}

.MuiTextField-root {
  margin-bottom: 12px;
}

.login {
  margin-top: 14px;
  text-align: center;
  font-size: 14px;
  color: #212121;
}

.login_link {
  color: #2874F0;
  font-weight: 600;
  cursor: pointer;
}

.login_link:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .login_container {
    padding-top: 24px;
  }

  .register_formm {
    display: none;
  }

  .login_form {
    width: 90%;
    height: auto;
    padding: 26px 20px;
  }
}
